body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;
}
/* Update the cart word size to 22 pixels */
.cart span {
  font-size: 22px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Update the cart word size to 22 pixels */
.cart span {
  font-size: 22px;
}

main {
  padding: 20px;
}

#hero {
  text-align: center;
  padding: 40px;
  background-color: #f2f2f2;
}

#hero h2 {
  color: #333;
}

#hero p {
  color: #666;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 20px 40px; /* Increase the padding to make the button bigger */
  background-color: #ff0000; /* Set the background color to red */
  color: #fff;
  text-decoration: none;
  border-radius: 50px; /* Add rounded corners to make the button round */
  font-size: 20px; /* Increase the font size to make the text bigger */
}

#specials {
  text-align: center;
  margin-top: 40px;
}

.special-item {
  display: inline-block;
  margin: 0;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.feedback a.feedback-link {
  font-size: 20px;
  text-decoration: underline;
  color: #f2ecec; /* Change the link color to black to make it more visible */
}

.feedback p {
  font-size: 18px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons .icon {
  display: inline-block;
  margin: 5px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

/*